<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />

    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VehicleLicenseMonitorPro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <add name="AccessConn"
   providerName="System.Data.OleDb"
   connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=.\DB_VehLicense.mdb;User ID=Admin;Jet OLEDB:Database Password=123456;" />

    <add name="MySqlConn" connectionString="server=localhost;user id=root;password=112233;Connection Timeout=5;Pooling=true;Min Pool Size=0;Max Pool Size=10000;ConnectionLifeTime=5;database=VehicleLicense"
    providerName="MySql.Data.MySqlClient" />

    <add name="SqlServerConn" connectionString="Data Source=.;Initial Catalog=IntVideoSurvDB;Persist Security Info=True;User ID=sa;Password=sa" providerName="System.Data.SqlClient" />

  </connectionStrings>
  
  
  <dataConfiguration defaultDatabase="SqlServerConn" />

  <log4net debug="true" error="true">
    　<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log\\log" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="10" />
      <datePattern value=".yyyyMMdd'.txt'" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>

    <root>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>

  </log4net>


</configuration>